# ==========================
# Python
# ==========================
.venv/
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Node
# ==========================
node_modules/
dist/

# ==========================
# Java
# ==========================
target/
*.class

# ==========================
# IDE
# ==========================
.idea/
.vscode/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment
# ==========================
.env

# ==========================
# Build
# ==========================
build/